body {
    background: linear-gradient(180deg,
            #081120 0%,
            #102a43 50%,
            #1b4965 100%);
    color: white;
}

nav {
    background: linear-gradient(180deg,
            #081120 0%,
            #102a43 50%,
            #1b4965 100%);

}


#a {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("kepek/M4TD.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}

#a h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

#a p {
    max-width: 700px;
    font-size: 1.2rem;
}

#b {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("kepek/M4TDFrontShot.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;

}

#b .row {
    width: 80%;
    margin: 0 auto;
    gap: 4vh;
    padding: 4vh 3vw;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 2vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 85%;
    margin: 0 auto;
    gap: 3vh;
    padding: 0;
    background: none;
}

#b .col {
    background: rgba(0, 0, 0, 0.35);
    padding: 3vh 2vw;
    border-radius: 2vh;
    backdrop-filter: blur(4px);
    margin-bottom: 2vh;
}

#b h1,
#b h2 {
    font-size: 2.5vh;
    margin-bottom: 1.5vh;
}

#b p {
    font-size: 1.3vh;
    line-height: 1.6;
}

#begy {
    margin-top: 8vh;
    background: rgba(0, 0, 0, 0.35);
    padding: 3vh 2vw;
    border-radius: 2vh;
    backdrop-filter: blur(4px);
    margin-bottom: 3vh;
}

#begy h1 {
    font-size: 4vh;
    margin-bottom: 1.5vh;
}

footer {
    background: linear-gradient(180deg, #102a43 0%, #081120 100%);
    padding: 4vh 2vw;
    text-align: center;
    margin-top: 0;

}

footer p {
    font-size: 2vh;
    color: #ffffff;
    opacity: 0.85;
    letter-spacing: 0.1vh;
}

#c,
#d {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    color: white;
    text-align: center;


    background-image: url(kepek/M4TD-specifikációk.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* ez csinálja meg azt az efetet */
    padding: 6vh 0;
}


#c h1 {
    font-size: 4vh;
    margin-bottom: 2vh;
}

.c-card {
    width: 100%;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.466);
    padding: 4vh 3vw;
    border-radius: 2vh;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}


.c-card h2 {
    font-size: 3vh;
    margin: 0;
}


.c-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.c-card li {
    font-size: 2vh;
    line-height: 1.6;
}

.c-card li strong {
    font-size: 2.1vh;
}

.c-card button {
    background: linear-gradient(135deg, #135020d0, #125838be);
    color: white;

    border: none;
    border-radius: 10px;

    padding: 14px 35px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 5px 15px rgba(27, 85, 72, 0.35);

    transition: 0.3s;
}

.c-card button:hover {
    transform: translateY(-3px) scale(1.03);

    box-shadow: 0 8px 25px rgba(15, 58, 34, 0.55);

    background: linear-gradient(135deg, #184920d5, #115736ce);
}

.c-card button:active {
    transform: scale(0.97);
}

#d {
    padding: 8vh 5vw;
}

#d h1 {
    font-size: 4vh;
    margin-bottom: 3vh;
}

.rendelesek {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2vw;
}

.rendeles {
    width: 30%;
    background: rgba(0, 0, 0, 0.658);

    padding: 3vh 2vw;
    border-radius: 2vh;

    backdrop-filter: blur(4px);

    display: flex;
    flex-direction: column;
}

.rendeles h2 {
    font-size: 2.5vh;
    margin-bottom: 2vh;
}

.rendeles p {
    font-size: 1.7vh;
    line-height: 1.6;
}

.rendeles ul {
    list-style: none;
    padding: 0;
    margin: 2vh 0;

    flex-grow: 1;
}

.rendeles li {
    font-size: 1.7vh;
    margin-bottom: 1vh;
}

.rendeles button {
    background: #125838;
    color: white;

    border: none;
    border-radius: 8px;

    padding: 12px 25px;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;
}

.rendeles button:hover {
    background: #184920;
}

.ds-card h1 {
    width: 100%;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.575);
    padding: 4vh 6vw;
    border-radius: 2vh;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7vh;
}